/*导入base样式文件*/
@import 'base.less';

/*轮播图样式*/
#slide {
    
    img{
        width: 100%;
    } 
    .swiper-pagination-bullet-active{
        background-color: @main-color;
    }
}

/*导航区域样式*/
#nav {
    ul {
        /*弹性布局*/
        display: flex;
        //允许换行
        flex-wrap: wrap;

        li {
            //使用百分比更好,保证每行4个
            // flex:1;
            width: 25%;

            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0.06rem 0;

                img {
                    width: 0.4rem;
                }

                p {
                    margin-top: 0.05rem;
                }
            }

        }
    }
}
/*主体区域样式*/
#main{
    //背景色
    background-color: #eee;
    padding: 0 0.1rem;
    padding-bottom: 0.6rem;
    //包含塌陷问题
    overflow: hidden;
    // margin-bottom: 0.5rem;
    
    //秒杀样式
    .skill{
        /* 兄弟之间的使用margin  但是第一个元素上面没有兄弟 参照父元素就会塌陷*/
        margin-top: 0.1rem;
        background-color: #fff;
        .title{
            display: flex;
            justify-content: space-between;
            line-height: 0.3rem;
            .left{
                display: flex;
                .seckill-icon{
                    width: 0.2rem;
                    height: 0.25rem;
                    margin-left: 0.05rem;
                }
                .seckill-name{
                    margin-left: 0.05rem;
                    color: @main-color;
                }
                .seckill-downtime{
                    margin-left: 0.05rem;

                    span:not(:nth-child(3n)){
                        display: inline-block;
                        width: 0.15rem;
                        height: 0.15rem;
                        background-color: #000;
                        line-height: 0.15rem;
                        color: #fff;
                        text-align: center;
                    }
                }
            }
            .right{
                .seckill-more{
                    margin-right: 0.1rem;
                }
            }
        }
        .content{
            ul{
                display: flex;
                li{
                    flex: 1;
                    a{
                        // 保证a标签的宽度和高度
                        display: block;
                        text-align: center;
                        img{
                            width: 1.1rem;
                        }
                        p{
                            color: @main-color;
                            font-size: 0.12rem;
                            del{
                                color: #ccc;
                            }
                        }
                    }
                }
                // li:nth-child(n+2){
                // li:not(:first-child){
                // ~表示相邻后面的所有兄弟 而且满足后面这个选择器 第一li后面所有兄弟li
                li~li{
                    border-left: 0.01rem solid #ccc;
                }
            }
        }
        
    }

    //超市样式
    .market{
        margin-top: 0.1rem;
        background-color: #fff;
        .title{
            border-bottom: 0.01rem solid #ccc;
            >h4{
                line-height: 0.3rem;
                font-weight: normal;
                padding-left: 0.3rem;
                position: relative;
            }
            h4::before{
                content: '';
                position: absolute;
                height: 0.14rem;
                width: 0.04rem;
                top: 0.07rem;
                left: 0.2rem;
                background-color: @main-color;
            }
        }
        .content{
            display: flex;
            .left{
                width: 50%;
                a{
                    display: block;
                    img{
                        width: 100%;
                    }
                }
                
            }
            .right{
                width: 50%;
                a{
                    display: block;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}

