/*导入base样式文件*/
/* 方便开发使用* 上线的时候把常见有间距标签改一下就好了 */
* {
  margin: 0;
  padding: 0;
  /* 给所有元素设置这个盒模型属性为了让盒模型的和设置的宽度一样 
   因为移动端做全屏页面宽度100% 如果因为边框或者padding导致超出范围出现滚动条不利于用户体验 */
  box-sizing: border-box;
  /* 设置移动端点击高亮背景色  去掉就设置为透明颜色即可*/
  -webkit-tap-highlight-color: transparent;
  /* 设置文字允许字体小于12px; */
  -webkit-text-size-adjust: none;
  /* 防止文字的锯齿样式 */
  -webkit-font-smoothing: antialiased;
}
/* 给body设置字体默认样式 */
body {
  background: #fff;
  font-size: 14px;
  font-family: -apple-system, Helvetica, sans-serif;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: #666;
}
li {
  list-style: none;
}
input {
  border: 0;
  outline: none;
}
img {
  /* 解决图片底部3px间隙问题 */
  vertical-align: middle;
}
i {
  /* 去掉斜体 */
  font-style: normal;
}
.bt {
  border-top: 1px solid #ccc;
}
.bb {
  border-bottom: 1px solid #ccc;
}
.bl {
  border-left: 1px solid #ccc;
}
.br {
  border-right: 1px solid #ccc;
}
#header {
  position: fixed;
  /*定位会脱标,不会默认宽度100%,由内容撑开,
      如果需求宽度100%,要手动设置*/
  width: 100%;
  height: 40px;
  /* 弹性布局 */
  display: flex;
  z-index: 2;
}
#header .left {
  width: 80px;
  height: 100%;
  /*弹性布局,主轴X 居中,副轴Y 居中*/
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .left a {
  width: 58px;
  height: 21px;
  background: url(../images/sprites.png) 0 -110px;
  /*图片都是两倍,背景图也不例外都需要缩小*/
  background-size: 200px 200px;
  display: block;
}
#header .center {
  flex: 1;
  display: flex;
  align-items: center;
}
#header .center form {
  width: 100%;
  position: relative;
}
#header .center form .icon-search {
  width: 21px;
  height: 21px;
  background: url(../images/sprites.png) -58px -110px;
  background-size: 200px 200px;
  position: absolute;
  top: 6px;
  left: 5px;
}
#header .center form input {
  width: 100%;
  height: 30px;
  border-radius: 15px;
  padding-left: 30px;
}
#header .right {
  width: 50px;
  height: 100%;
}
#header .right > a {
  display: block;
  color: #fff;
  text-align: center;
  line-height: 45px;
}
/*轮播图样式*/
#slide img {
  width: 100%;
}
#slide .swiper-pagination-bullet-active {
  background-color: #e93b3d;
}
/*导航区域样式*/
#nav ul {
  /*弹性布局*/
  display: flex;
  flex-wrap: wrap;
}
#nav ul li {
  width: 25%;
}
#nav ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 0;
}
#nav ul li a img {
  width: 40px;
}
#nav ul li a p {
  margin-top: 5px;
}
/*主体区域样式*/
#main {
  background-color: #eee;
  padding: 0 10px;
  padding-bottom: 60px;
  overflow: hidden;
}
#main .skill {
  /* 兄弟之间的使用margin  但是第一个元素上面没有兄弟 参照父元素就会塌陷*/
  margin-top: 10px;
  background-color: #fff;
}
#main .skill .title {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}
#main .skill .title .left {
  display: flex;
}
#main .skill .title .left .seckill-icon {
  width: 20px;
  height: 25px;
  margin-left: 5px;
}
#main .skill .title .left .seckill-name {
  margin-left: 5px;
  color: #e93b3d;
}
#main .skill .title .left .seckill-downtime {
  margin-left: 5px;
}
#main .skill .title .left .seckill-downtime span:not(:nth-child(3n)) {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #000;
  line-height: 15px;
  color: #fff;
  text-align: center;
}
#main .skill .title .right .seckill-more {
  margin-right: 10px;
}
#main .skill .content ul {
  display: flex;
}
#main .skill .content ul li {
  flex: 1;
}
#main .skill .content ul li a {
  display: block;
  text-align: center;
}
#main .skill .content ul li a img {
  width: 110px;
}
#main .skill .content ul li a p {
  color: #e93b3d;
  font-size: 12px;
}
#main .skill .content ul li a p del {
  color: #ccc;
}
#main .skill .content ul li ~ li {
  border-left: 1px solid #ccc;
}
#main .market {
  margin-top: 10px;
  background-color: #fff;
}
#main .market .title {
  border-bottom: 1px solid #ccc;
}
#main .market .title > h4 {
  line-height: 30px;
  font-weight: normal;
  padding-left: 30px;
  position: relative;
}
#main .market .title h4::before {
  content: '';
  position: absolute;
  height: 14px;
  width: 4px;
  top: 7px;
  left: 20px;
  background-color: #e93b3d;
}
#main .market .content {
  display: flex;
}
#main .market .content .left {
  width: 50%;
}
#main .market .content .left a {
  display: block;
}
#main .market .content .left a img {
  width: 100%;
}
#main .market .content .right {
  width: 50%;
}
#main .market .content .right a {
  display: block;
}
#main .market .content .right a img {
  width: 100%;
}
/* 底部区域样式*/
#footer ul {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
}
#footer ul li {
  width: 25%;
}
#footer ul li a {
  display: block;
  text-align: center;
}
#footer ul li a img {
  width: 65px;
}
